

.swiper-wrapper image{
    width: 100%;
}
.swiper-button-prev, 
.swiper-button-next {
    display: none;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 25px;
    margin: 10px;
   text-decoration:underline;
}
.ex{
    z-index: 1;
    color: black;
    font-size: 31px;
    position: absolute;
    margin-top: 86px;
    margin-left: 28px;
    font-family:  'Inter', sans-serif;
}
.mont{
    display: flex;
    margin-top: 2px;
    width: 390px;
    height: 1078px;
    background-color: #E9D7C8;
    z-index: 0;
    
}
.doramas{
    display: inline;
    position: absolute;
    margin-top: 152px;
    margin-left: 23px;
    word-spacing: 54px;
   
}
.d2{
    display: inline;
    position: absolute;
    margin-top: 382px;
    margin-left: 23px;
    word-spacing: 54px;
}

.d3{
    display: inline;
    position: absolute;
    margin-top: 612px;
    margin-left: 23px;
    word-spacing: 54px;
}
.cell{
    background-color:#FFA0A0 ;
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 875px;

}
.cas{
    position: absolute;
    margin-left: 199px;  
    margin-top: 939px;
    padding: 34px;
    font-size: 32px;
    font-family: "inter", serif;
}
@media screen  and (min-width:1728px){
    
}